#signupSection {
  display: grid;
  grid-template-columns: 10% 25% 10% 30%;
  margin-top: 1em;
  width: 100%;
  margin-left: 15%;
}

#signupSection > input {
  margin-bottom: 0.5em;
}

#signupSection > div {
  display: grid;
  grid-template-columns: 200% 200%;
}

#signupSection > div > button {
  margin-right: 1em;
}

body {
  font-family: cursive;
  font-size: 12px;
  margin: 0 15px;
  background-image: linear-gradient(to right, #FFA600, #FFC500);
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 400;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  color: #333333;
  margin-top: 3px;
}
