<section id ="signupSection">
  <label class="signupLabel" for="firstNameInp">First name</label>
  <input class="signupInput" id="firstNameInp" type="text" [(ngModel)]="FirstName" required placeholder="First name">
  <label class="signupLabel" for="lastNameInp">Last name</label>
  <input class="signupInput" id="lastNameInp" type="text" [(ngModel)]="LastName" required placeholder="Last name">
  <label class="signupLabel" for="passwordInp">Password</label>
  <input class="signupInput" id="passwordInp" type="password" [(ngModel)]="Password" required placeholder="Password">
  <label class="signupLabel" for="companyInp">Company</label>
  <input class="signupInput" id="companyInp" type="text" [(ngModel)]="Company" required placeholder="Company">
  <label class="signupLabel" for="addressInp">Address</label>
  <input class="signupInput" id="addressInp" type="text" [(ngModel)]="Address" required placeholder="Address">
  <label class="signupLabel" for="cityInp">City</label>
  <input class="signupInput" id="cityInp" type="text" [(ngModel)]="City" required placeholder="City">
  <label class="signupLabel" for="stateInp">State</label>
  <input class="signupInput" id="stateInp" type="text" [(ngModel)]="State" required placeholder="State">
  <label class="signupLabel" for="countryInp">Country</label>
  <input class="signupInput" id="countryInp" type="text" [(ngModel)]="Country" required placeholder="Country">
  <label class="signupLabel" for="postalCodeInp">Postal code</label>
  <input class="signupInput" id="postalCodeInp" type="text" [(ngModel)]="PostalCode" required placeholder="Postal code">
  <label class="signupLabel" for="phoneInp">Phone</label>
  <input class="signupInput" id="phoneInp" type="text" [(ngModel)]="Phone" required placeholder="Phone">
  <label class="signupLabel" for="fax">Fax</label>
  <input class="signupInput" id="faxInp" type="text" [(ngModel)]="Fax" required placeholder="Fax">
  <label class="signupLabel" for="emailInp">Email</label>
  <input class="signupInput" id="emailInp" type="text" [(ngModel)]="Email" required placeholder="Email">
  <div>
    <button (click)="addCustomer()">Create user</button>
    <button routerLink="/login">Cancel</button>
  </div>
</section>
