<section>
  <div>
    <div class="modal-content">
      <section>
          <h3></h3>
      </section>
      <section>
          <input class="modalInput" [(ngModel)]="MessageInput" id="nameInp" type="text" required placeholder="Type message">
      </section>
      <section id="messageModalFooter">
        <button id="closeMessageModalBtn" (click)="disableMessageChat()" class="modalBtn">Cancel</button>
        <button id="sendMessageBtn" (click)="sendMessage()">Send message</button>
      </section>
    </div>
  </div>
</section>
