<button type="button" (click)="addClick()"
  data-backdrop="static" data-keyboard="false"
>Add artist</button>
<div [ngClass]="modalStyle">
  <div class="modal-content">
    <app-create-artist [art]="art" *ngIf="ActivateCreateUpdateArtistComponent">
    </app-create-artist>
    <button id="closeArtistModalBtn" (click)="closeClick()">Cancel</button>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Artist Name</th>
    </tr>
  </thead>
  <tbody>
    <tr id="artistTable" *ngFor="let artist of Artists">
        <td><p>{{artist.name}}</p></td>
        <td>
          <Button type="button">
            Edit
          </Button>
          <Button type="button">
            Delete
          </Button>
        </td>
    </tr>
  </tbody>
</table>
