<section id ="loginSection">
  <label for="emailInp">Email</label>
  <input id="emailInp" type="text" [(ngModel)]="Email" required placeholder="Email">
  <label for="passwordInp">Password</label>
  <input id="passwordInp" type="password" [(ngModel)]="Password" required placeholder="Password">
  <button (click)="loginCustomer()">Login</button>
  <a routerLink="/adminlogin">Sign in as admin</a>
  <p>If you don't have an account, you can sign up
    <a routerLink ="/signup">here</a></p>
</section>
