<h3>Update user information</h3>

<section id ="userSection">
  <label class="userLabel" for="firstNameInp">First name</label>
  <input class="userInput" id="firstNameInp" type="text" [(ngModel)]="FirstName" required placeholder="First name">
  <label class="userLabel" for="lastNameInp">Last name</label>
  <input class="userInput" id="lastNameInp" type="text" [(ngModel)]="LastName" required placeholder="Last name">
  <label class="userLabel" for="passwordInp">Password</label>
  <input class="userInput" id="passwordInp" type="password" [(ngModel)]="Password" required placeholder="Password mandatory">
  <label class="userLabel" for="companyInp">Company</label>
  <input class="userInput" id="companyInp" type="text" [(ngModel)]="Company" required placeholder="Company">
  <label class="userLabel" for="addressInp">Address</label>
  <input class="userInput" id="addressInp" type="text" [(ngModel)]="Address" required placeholder="Address">
  <label class="userLabel" for="cityInp">City</label>
  <input class="userInput" id="cityInp" type="text" [(ngModel)]="City" required placeholder="City">
  <label class="userLabel" for="stateInp">State</label>
  <input class="userInput" id="stateInp" type="text" [(ngModel)]="State" required placeholder="State">
  <label class="userLabel" for="countryInp">Country</label>
  <input class="userInput" id="countryInp" type="text" [(ngModel)]="Country" required placeholder="Country">
  <label class="userLabel" for="postalCodeInp">Postal code</label>
  <input class="userInput" id="postalCodeInp" type="text" [(ngModel)]="PostalCode" required placeholder="Postal code">
  <label class="userLabel" for="phoneInp">Phone</label>
  <input class="userInput" id="phoneInp" type="text" [(ngModel)]="Phone" required placeholder="Phone">
  <label class="userLabel" for="fax">Fax</label>
  <input class="userInput" id="faxInp" type="text" [(ngModel)]="Fax" required placeholder="Fax">
  <label class="userLabel" for="emailInp">Email</label>
  <input class="userInput" id="emailInp" type="text" [(ngModel)]="Email" required placeholder="Email">
  <div>
    <button class="editBtns" (click)="updateCustomer()">Update user</button>
    <button class="delBtns" (click)="deleteCustomer()">Delete user</button>
  </div>
</section>
