<section id="matchesSection">
  <h1><b>Music track matches with other users</b></h1>
  <app-message *ngIf="EnableMessageMatch"></app-message>

    <section *ngFor="let match of Matches">
      <div class="matchDiv">
          <div *ngIf="match.hasOwnProperty('FirstName')" class ="userDiv">
            <h4 ><b>{{match.FirstName}} {{match.LastName}}</b></h4>
            <button (click)="enableMessageChat()">Message {{match.FirstName}}</button>
          </div>
          <div class="tracksContainer" *ngIf="match.hasOwnProperty('TrackName')">
            <h6><b>🎵{{match.TrackName}}🎵</b></h6>
            <div class="matchTracksDiv" >
                  <p><b>Artist</b></p>
                  <p>{{match.ArtistName}}</p>
                  <p><b>Composer</b></p>
                  <p>{{match.TrackComposer}}</p>
                  <p><b>Album</b></p>
                  <p>{{match.AlbumTitle}}</p>
                  <p><b>Genre</b></p>
                  <p>{{match.GenreName}}</p>
            </div>
        </div>
      </div>
      <!-- <app-message *ngIf="match.hasOwnProperty('FirstName') && EnableMessageMatch"></app-message> -->
  </section>
</section>
