<section class="upperSection">
  <app-create-update-track #createUpdateTrack>
  </app-create-update-track>
  <div>
    <input type="text" id="searchTracksInput" placeholder="Search for tracks">
  </div>
  <div>
    <Button type="submit" id="searchBtn" (click)="searchTracks()">Search</Button>
  </div>
</section>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
      <th>Composer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let track of Tracks">
        <td>{{track.TrackName}}</td>
        <td>{{track.ArtistName}}</td>
        <td>{{track.AlbumTitle}}</td>
        <td>{{track.GenreName}}</td>
        <td>{{track.Composer}}</td>
        <td>
          <Button type="button" (click)="createUpdateTrack.editClick(track.TrackId)" class="editBtns">
            Edit
          </Button>
          <Button type="button" (click)="deleteTrack(track.AlbumId)" class="delBtns">
            Delete
          </Button>
        </td>
    </tr>
  </tbody>
</table>
